<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/tabs/tab1']"></ion-back-button>
    </ion-buttons>
    <ion-title>Instrumentos de Cuerda</ion-title>
  </ion-toolbar>

</ion-header>
<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size="12" *ngFor="let instrumento of instrumentos">
        <ion-card>
          <ion-img (click)="playSound(instrumento)" [src]="instrumento.imagen" alt=""></ion-img>
          <ion-card-content>
            <ion-card-subtitle><strong>{{instrumento.nombre}}</strong></ion-card-subtitle>
            <p style="text-align: justify;">{{instrumento.descrip}}</p>
          </ion-card-content>
          <ion-item>
            <ion-button href="http://www.musicallweb.com/"> Buy</ion-button>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>