<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/tabs/tab1']"></ion-back-button>
    </ion-buttons>
    <ion-title>Acerca de:</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
  <h1 style="text-align: center;">Music Book</h1>
<p style="text-align: center;">versión 1.0.01</p> <hr>
<h1>
  <img style="height: 150px; display:block; margin:auto;" src="assets/imagenes/fondo.svg" alt="">
</h1>
<h2 style="text-align: center;"> <strong>Trabajo Fin De Ciclo</strong></h2> 

  <p style=" font-size: 20px;"><strong> - Materia: </strong>Desarrollo de Aplicacciones Móviles.</p>
  <p style=" font-size: 20px;"><strong> - Docente: </strong>Diego Chamba Saca.</p>
  <p style=" font-size: 20px;"><strong> - Nombre: </strong>Brayan Monghomery Guman Zhuño.</p>
  <p style=" font-size: 20px;"><strong> - Ciclo: </strong>Cuarto.</p>
   
<div class="button-bar" style="font-size: 50px; text-align: center;">
  <p style=" font-size: 20px;">  © 2020 Guamán Inc. </p>
  <a href="https://www.facebook.com/bryan1499/"><ion-icon slot="start" name="logo-facebook"></ion-icon> </a>
  <a href="https://www.instagram.com/gzmonghomery/">  <ion-icon slot="start" name="logo-instagram"></ion-icon></a>
  <a href="https://twitter.com/BrayanGuamn1">  <ion-icon slot="start" name="logo-twitter"></ion-icon></a>
  <a href="https://github.com/Monghomery1499/DesarroloMovil.git"><ion-icon slot="start" name="logo-github"></ion-icon></a>
</div>

</ion-content>
