<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/tabs/tab1']"></ion-back-button>
    </ion-buttons>
    <ion-title>Musica:</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    
    <ion-row>
      <ion-col>
        <ion-card>
            <div class="video-cont">
             <h1>Clasica</h1>
             <p><iframe width="560" height="315" src="https://www.youtube.com/embed/imOd3hwgnrE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
            </div>
        </ion-card>
      </ion-col>
    </ion-row>
  

    <ion-row>
      <ion-col>
        <ion-card>
            <div class="video-cont">
             <h1>Salsa</h1>
             <p><iframe width="560" height="315" src="https://www.youtube.com/embed/RUV55lGPGaY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
            </div>
        </ion-card>
      </ion-col>
    </ion-row>
  

    <ion-row>
      <ion-col>
        <ion-card>
            <div class="video-cont">
             <h1>Vallenato</h1>
             <p><iframe width="560" height="315" src="https://www.youtube.com/embed/yry3rgGlRUw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
            </div>
        </ion-card>
      </ion-col>
    </ion-row>
  

    <ion-row>
      <ion-col>
        <ion-card>
            <div class="video-cont">
             <h1>Cumbia</h1>
             <p><iframe width="560" height="315" src="https://www.youtube.com/embed/z5svoighsdk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
            </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

    <ion-row>
      <ion-col>
        <ion-card>
            <div class="video-cont">
             <h1>Rock Latino</h1>
             <p><iframe width="560" height="315" src="https://www.youtube.com/embed/5KlN9ujUw0s" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
            </div>
        </ion-card>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <ion-card>
            <div class="video-cont">
             <h1>Rock N' Roll</h1>
             <p><iframe width="560" height="315" src="https://www.youtube.com/embed/v2AC41dglnM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
            </div>
        </ion-card>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col>
        <ion-card>
            <div class="video-cont">
             <h1>Folklore</h1>
             <p><iframe width="560" height="315" src="https://www.youtube.com/embed/eAtP47p-jeA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
            </div>
        </ion-card>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <ion-card>
            <div class="video-cont">
             <h1>Andina Contemporanea</h1>
             <p><iframe width="560" height="315" src="https://www.youtube.com/embed/OhXaIT5TOGs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
            </div>
        </ion-card>
      </ion-col>
    </ion-row>
 

    <ion-row>
      <ion-col>
        <ion-card>
            <div class="video-cont">
             <h1>Alternativa</h1>
             <p><iframe width="560" height="315" src="https://www.youtube.com/embed/QtXby3twMmI?start=30" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
            </div>
        </ion-card>
      </ion-col>
    </ion-row>
 

    <ion-row>
      <ion-col>
        <ion-card>
            <div class="video-cont">
             <h1>POP</h1>
             <p><iframe width="560" height="315" src="https://www.youtube.com/embed/1ekZEVeXwek" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
            </div>
        </ion-card>
      </ion-col>
    </ion-row>
 


</ion-content>
